<div class="content-container">
    <div class="positioner">
        <div class="header-container">
            <h1>Eat Da Burger!</h1>
        </div>
    </div>
    <div class="burger-container">
        <div id="not-devoured">
            <h3 id="not-devoured-header">Ready for Eating!</h3>
            <ul id="not-devoured-list">
                {{#each burgers}}
                {{#unless devoured}}
                {{>burgers/burgerDisplay devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div id="devoured">
            <h3 id="devoured-header">All Ready Eaten!</h3>
            <ul id="devoured-list">
                {{#each burgers}}
                {{#if devoured}}
                {{>burgers/burgerDisplay devoured=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="new-burger-container">
        <form class="new-burger-form">
            <label for="burger-name">
                <h3>More Burgers!</h3>
            </label>
            <input id="burger-name" type="text" placeholder="What kind of burger?">
            <button id="submit" type="button">Place Order!</button>
        </form>
    </div>
</div>